.sign-in-main
{
    height: 50rem
}
.sign-in-container-wrap
{
    width: 100%;
    height: 100%;
}
.sign-in-container-wrap .container
{
    height: inherit;
}
.sign-in
{
    display: flex;
    height: 100%;
    width: 100%;
}
.sign-in-window-wrap
{
    display: flex;
    width: 80%;
    height: inherit;
    margin: auto auto;
    justify-content: center;
}
.sign-in-window
{
    display: flex;
    flex-direction: column;

    height: 80%;
    width: 100%;
    margin: 10%;
    /* border: 1px solid rgb(200, 200, 200); */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sign-in-icon
{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in-icon a
{
    max-width: 10%;
    max-height: 60%;
}
.sign-in-icon img
{
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.sign-in-icon img:hover
{
    cursor: pointer;
    opacity: 0.5;
}
.sign-in-icon p
{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.sign-in-text-label
{
    padding-left: 10%;
    position: relative;
    width: 90%;
}
.sign-in-label
{
    font-size: 24px;
    font-weight: 700;
}
.sign-in-text
{
    font-size: 16px;
    font-weight: 500;
    color: gray;
    padding-top: 1%;
}
.sign-in-form-wrap
{
    padding-left: 10%;
    position: relative;
    width: 90%;
    height: 50%;
}
.sign-in-form
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.forgot-password-signup-wrap
{
    padding-top: 5%;
    padding-left: 10%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.forgot-password p
{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.sign-up a
{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: palevioletred;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.sign-up a:hover
{
    color: rgb(255, 28, 104);
}